<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <%
    const fs = require('fs');
    var excerpt = fs.readFileSync((page || post).full_source, 'utf8');
    if (excerpt) {
      excerpt = excerpt
        .replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, '') // remove <script>
        .replace(/<style( type=\"text\/css\")?>[^]?<\/style>/g, ''); // remove <style>
    }
    console.log('a');
    
    if (excerpt){ console.log('c'); %>
  <meta name="description" content="<%= excerpt.replace(/^\s*/, '').replace(/\s*$/, '') %>" />
  <% } else if (page.description) { %>
  <meta name="description" content="<%= page.description %>" />
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>" />
  <% } %>

  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>" />
  <% } else if(config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>" />
  <% } %>
  
  <% if (theme.google_site_verification){ %><meta name="google-site-verification" content="<%= theme.google_site_verification%>" /><% } %>
  <% if (theme.baidu_site_verification){ %><meta name="baidu-site-verification" content="<%= theme.baidu_site_verification%>" /><% } %>
  
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title>
    <% if (page.altTitle) { %>
      <%= config.title %>
    <% 
    } else {
      if (title) { %>
        <%= title %> | 
      <% } %>
      <%= config.title %>
    <% } %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } else { %>
    <link rel="icon" href="<%- config.root %>css/images/favicon.ico">
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro" rel="stylesheet">
  <% if (page.useGithubLayout) { %>
    <%- css('css/github-markdown.css') %>
    <%- css('css/github-style.css') %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <%- css('css/spoilers.css') %>
    <%- partial('spoiler-js') %>
  <% } else { %>
    <%- css('css/style') %>
    <style type="text/css">
.header-anchor {
  display: none;
}
    </style>
  <% } %>
  <%- partial('google-analytics') %>
  
  <!-- baidu webmaster push -->
  <!-- tracking
  <script src='//push.zhanzhang.baidu.com/push.js'></script>
  -->

</head>